// Header
.header {
    background-color: map-get($colores, colorPrimario ) ;
    border-bottom: 2px solid map-get($colores, blanco ) ;
    text-align: center;

    .header__titulo {
        font-size: 4.8rem;
        margin: 0;
        padding: 20px;
        color: map-get($colores, blanco );
        display: inline-block;

         & span {
            font-size: 6rem;
         }
    }
}

// Navegacion

.navegacion {
    background-color: map-get($colores, colorPrimario ) ;

    @include tablet {
        position: sticky;
        top: 0;
        z-index: 20;
    }

    .navegacion__lista {
        list-style: none;
        padding:0;
    }

}
@include tablet {
    .navegacion__lista {
        display: flex;
        justify-content: space-between;
    }
}
// @media (min-width: 769px ) {
//     .navegacion__lista {
//         display: flex;
//         justify-content: space-between;
//     }
// }

.navegacion__lista a {
    display: block;
    text-align: center;
    color: map-get($colores, blanco ) ;
    font-family: $fuentePrincipal ;
    font-weight: bold;
    font-size: 2.4rem;
    padding: 1.5rem;


    &:hover {
        background-color: map-get($colores, blanco ) ;
        color: map-get($colores, negro ) ;
    }
}

//Hero
.mateHero {
    background-image: url(../img/mate_hero.jpg);
    height: 60rem;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 2rem;
}

.mateHero__contenido {
    height:75%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: map-get($colores, blanco ) ;

    & h3 {
        font-size: 3.2rem;
    }
}

@include tablet {
    .mateHero__contenido {
        height: 65%;
    }
    .mateHero__contenido h3 {
        font-size: 4.3rem;
    }
}

// @media (min-width: 769px) {
//     .mateHero__contenido {
//         height: 65%;
//     }
//     .mateHero__contenido h3 {
//         font-size: 4.3rem;
//     }
// }

// Index Productos 

.productoH2 {
    text-align: center;
    font-size: 5rem;
    color: map-get($colores, colorPrimario ) ;
    font-weight: bold;
    margin-top: 4rem;
}

// Beneficios Mate

.sombra {
    margin-top: 5rem;
    border-radius: 1rem;
    background-color: #1c130c;
    -webkit-box-shadow: 0px 0px 18px 3px #1C130C; 
    box-shadow: 0px 0px 18px 3px #1C130C;;
}

.beneficiosMate {
    padding: 3rem;


    & h2 {
        text-align: center;
        color: map-get($colores, blanco ) ;
        font-size: 4.3rem;
        margin: 2rem 0 2rem 0;
    }
}

@include tablet {
    .beneficiosMate h2::after{
        content: "";
        display: block;
        height: 0.5rem;
        width: 50%;
        background-color: map-get($colores, colorSecundario ) ;
        margin: 0 auto;
    }
}
// @media (min-width:769px) {
//     .beneficiosMate h2::after{
//         content: "";
//         display: block;
//         height: 0.5rem;
//         width: 50%;
//         background-color: map-get($colores, colorSecundario ) ;
//         margin: 0 auto;
//     }
// }

.beneficiosMate p {
    font-size: 2.3rem;
    color: map-get($colores, blanco ) ;
    text-align: start;

    &:nth-child(6) {
        padding-bottom: 2rem;
        border-bottom: 2px solid map-get($colores, negro ) ;
    }

    & span {
        font-weight: bold;
        font-size: 2.5rem;
    }
}

//Cebar un Buen Mate

@include tablet {
    .cebarMate {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
    }
}
// @media (min-width: 769px) {
//     .cebarMate {
//         display: grid;
//         grid-template-columns: 1fr 1fr;
//         column-gap: 2rem;
//     }
// }

.cebarMate__pasos {
    padding: 0;
    margin: 0;
    color: map-get($colores, blanco ) ;
    font-size: 2.5rem;
    list-style: none;

    & p {
        transition: all .5s ease;
    }

    & p:hover {
        transform: scale(1.1);
        cursor: pointer;
    }

    & h2 {
        color: map-get($colores, blanco ) ;
        margin-bottom: 2rem;
        text-align: center;
        font-size: 4rem;
    }
}

@include tablet {
    .cebarMate__pasos li {
        margin-bottom: 3rem;
    }
}
// @media (min-width: 769px) {
//     .cebarMate__pasos li {
//         margin-bottom: 3rem;
//     }
// }

.cebarMate__pasos p {
    color: map-get($colores, blanco ) ;
    font-size: 2.5rem;
    text-align: start;
    padding: 1rem;
    text-align: center;
}

.cebarMate__img {
    text-align: center;
    margin-bottom: 2.5rem;
}

@include tablet {
    .cebarMate__img {
        padding: 0 0 2rem 2rem ;
        margin: 0;
        text-align: start ;
    }
}
// @media (min-width: 769px) {
//     .cebarMate__img {
//         padding: 0 0 2rem 2rem ;
//         margin: 0;
//         text-align: start ;
//     }
// }

.cebarMate__img img {
    border-radius: 1rem ;
}

// Productos (Pages)

    .productosPage h2 {
        text-align: center;
        font-size: 5rem;
        background-color: map-get($colores, colorPrimario) ;
        color: map-get($colores, blanco) ;
    }

    .productosPage__lista {
        list-style: none;
        padding: 0;
        margin: 2rem 0 4rem 0;
    }

@include tablet {
    .productosPage__lista {
        display: flex;
        justify-content: space-around;
    }
}

.productosPage__lista a {
    font-size: 3rem;
    color: map-get($colores, blanco) ;
    padding: 1rem;
    border-radius: .5rem;
    display: block;
    text-align: center;
    margin-bottom: 2rem;


    &::after {
        content: "";
        display: block;
        height: 0.2rem;
        width: 50%;
        background-color: map-get($colores, negro ) ;
        margin: 0 auto;
    }
}

@include tablet {
    .productosPage__lista a {
        margin: 0;

        &::after {
            width: 100%;
        }
    }
}

@include tablet {
    .contenedorProductos {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 2rem;
    }
}
// @media (min-width: 769px) {
//     .contenedorProductos {
//         display: grid;
//         grid-template-columns: 1fr 1fr 1fr;
//         column-gap: 2rem;
//     }
// }

.productoPage {
    background-color: map-get($colores, colorPrimario ) ;
    margin-bottom: 2rem;

    &__descripcion {
        padding: 2rem;
    }
}

.productoPage__descripcion h3,p{
    margin: 0 0 1.5rem 0;
    color: map-get($colores, blanco ) ;
}

.productoPage__descripcion h3 {
    text-align: center;
    font-size: 2.5rem;
}

.productoPage__descripcion p {
    font-size: 2rem;
}

.productoPage__descripcion__precio {
    font-size: 2.5rem;
    font-weight: bold;
    border: 1px solid map-get($colores, blanco ) ;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding: 1rem;
}

.productoPage__descripcion a {
    margin-top: 2rem;
    display: block;
    color: map-get($colores, blanco) ;
    border-radius: 1rem;
    font-size: 2.5rem;
    font-weight: bold;
    border: 1px solid map-get($colores, blanco) ;
    text-align: center;
    padding: 1rem;
    box-shadow: 0px 5px 0px map-get($colores, negro) ;
    

    &:hover {
        box-shadow: 0px 3px 0px map-get($colores, negro) ;
    }

    &:active {
        box-shadow: none;
    }
}

.productoPage__img img {
    transition: all .5s ease;
}

.productoPage__img img:hover {
    transform: scale(1.1);
}


// Nosotros (Page)

.mainNosotros h2 {
    text-align: center;
    font-size: 5rem;
    background-color: map-get($colores, colorPrimario) ;
    color: map-get($colores, blanco) ;
}

@include tablet {
    .contenidoNosotros {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
    }
}
// @media (min-width: 769px) {
//     .contenidoNosotros {
//         display: grid;
//         grid-template-columns: 1fr 1fr;
//         column-gap: 2rem;
//     }
// }

.contenidoNosotros__img img {
    border: 2px solid map-get($colores, colorPrimario) ;
}

.contenidoNosotros__texto p {
    font-size: 2.4rem;
    text-align: center;
}

@include tablet {
    .contenidoNosotros__texto p {
        text-align: start;
    }

    .contenidoNosotros__texto {
        margin: 0;
    }
}
// @media (min-width: 769px) {
//     .contenidoNosotros__texto p {
//         text-align: start;
//     }

//     .contenidoNosotros__texto {
//         margin: 0;
//     }
// }

// Contacto

.mainContacto h2 {
    font-size: 5rem;
    text-align: center;
    background-color: map-get($colores, colorPrimario) ;
    color: map-get($colores, blanco) ;
}

.mainContacto p {
    font-size: 2rem;
    text-align: center;
    margin: 0;
}
@include tablet {
    .mainContacto p {
        font-size: 3rem;
        margin-bottom: 2rem;
    }
}
// @media (min-width: 769px) {
//     .mainContacto p {
//         font-size: 3rem;
//         margin-bottom: 2rem;
//     }
// }

.formulario {
    margin: 0 auto;
    padding: 5rem;
    background: rgba(0,0,0,.3) ;
    border-radius: 1rem;
}

.campo {
    margin-bottom: 2rem;
}

.campo__label {
    text-align: right;
    padding-right: 2rem;
    font-size: 2.3rem;
    font-weight: bold;
}

.campo__input {
    width: 100%;
    padding: 1rem;
    border-radius: 2px;
    border: none;

}

.campo__inputTextarea {
    height: 20rem;
    resize: none;
}

.enviar {
    margin-top: 2rem;
    text-align: end;
}

.enviar__btn {
    background-color: map-get($colores, colorPrimario) ;
    color: map-get($colores, blanco) ;
    padding: 1rem 2rem;
    font-size: 2.3rem;
    border-radius: 2px;
    display: block;
    text-align: center;
    box-shadow: 0px 3.5px 0px map-get($colores, negro) ;
    transition: all .2s;

    &:hover {
        box-shadow: 0px 1px 0px map-get($colores, negro) ;
    }

    &:active {
        box-shadow: none;
    }

}


@include tablet {
    .enviar__btn {
        display: inline-block;
    }
}
// @media (min-width: 769px) {
//     .enviar__btn {
//         display: inline-block;
//     }
// }

// Elaboracion 

.mainElaboracion {
    text-align: center;

    & h2 {
        font-size: 5rem;
        background-color: map-get($colores, colorPrimario) ;
        color: map-get($colores, blanco) ;
    }

    & iframe {
        width: 100%;
        border: 2px solid map-get($colores, colorPrimario) ;
    }
}

@include tablet {
    .mainElaboracion iframe {
        height: 45rem;
    }
}
// @media (min-width: 769px) {
//     .mainElaboracion iframe {
//         height: 45rem;
//     }
// }

.mainElaboracion__txt p {
    font-size: 2.3rem;
    color: map-get($colores, blanco) ;
    border-bottom: 2px solid map-get($colores, colorPrimario) ;
    padding: 2rem;
    transition: all .5s ease;
}

.mainElaboracion__txt p:hover {
    transform: scale(1.1);
}

// Footer 

.footer {
    background-color: map-get($colores, negro) ;
    margin-top: 5rem;
    padding: 3rem;
}

@include tablet {
    .contenidoFooter {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
}

// .contenidoFooter__iconos {
//     display: flex;
//     justify-content: space-between;
//     margin-bottom: 1.5rem;
//     text-align: center;
// }

// @include tablet {
//     .contenidoFooter__iconos {
//         gap: 2rem;
//     }
// }
// @media (min-width: 769px) {
//     .contenidoFooter__iconos {
//         gap: 2rem;
//     }
// }

// .contenidoFooter__iconos i {
//     font-size: 3.5rem;
//     color: map-get($colores, blanco) ;
// }

// .footer p {
//     color: map-get($colores, blanco) ;
//     font-size: 2.3rem;
//     text-align: center;
// }

.contenidoFooter__titulo {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
}



@include tablet {
    .contenidoFooter__titulo {
        margin: 0;
    }
}

.redesFooter {
    text-align: center;

    & a {
        margin-right: 1.5rem;

        &:last-of-type {
            margin: 0;
        }
    }
}

.redesFooter a i {
    font-size: 3rem;
    color: map-get($colores, blanco);
    transition: all ease-in-out .2s;

    &:hover {
        transform: translateY(-3px) scale(1.05);
    }
}

.copy {
    text-align: center;
    font-size: 2.3rem;
    margin: 4rem 0 0 0;
}

